/frontend/node_modules
/backend/node_modules
/backend/env/wish_id_db.bson
/backend/env/wish.conf
/backend/dist
/backend/a
/backend/b
/backend/whadapp-a/wish_id_db.bson
/backend/whadapp-a/wish.conf
/backend/whadapp-a/files
/backend/whadapp-b/wish_id_db.bson
/backend/whadapp-b/wish.conf
/backend/whadapp-b/files
